@CHARSET "UTF-8";
body{

	background-repeat:no-repeat;
	background-size:cover;
}
p{
	text-align:center;
color:black;}
}
 ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    backgroung-color:#333;
}

li {
    float: left;
}

li a {
	
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}